node_modules
bower_components
.npm-cache
node_modules/
bower_components/
dist/
build/
buildsystem-test-results/
src/styles/
.sass-cache
npm-debug.log
cobertura-coverage.xml
html-report
lcov.info
report.xml